<html>
<body bgcolor=lightgray>
<h1>
<%= result %>
</h1>
<h2>
    You picked: <%= playerChoice %><br>
    Server picked: <%= serverChoice %><br>
    <font color="green"> Player wins: <%= playerWins %></font><br>
    <font color="red">Server Wins: <%= serverWins %></font><br>
    <font color="blue">Total Games: <%= totalGames %></font><br>
    <a href="/">Play Again!</a>
</h2>
</body>
</html>
